<div
  class="mb-4 post-dashboard animate__animated animate__fadeInUp card-to-listen"
>
  <div class="row align-items-center">

    <div class="col-12">

      <div class="row p-4 align-items-center">
        <div class="col-2 col-sm-2 col-lg-2 col-xl-1">
          <div class="post-image-div">
            <img src="{{image_url}}" class="post-image" alt="resource image" />
          </div>
        </div>
        <div
          class="col-10 col-sm-10 col-lg-10 col-xl-11 homepage-post-text d-flex flex-row justify-content-between"
        >
          <div class="text-need-space homepage-resource-title">
            <h4 class="card-title home-resource-title text-white">{{title}}

            </h4>
            <p class="timestamp purple-timestamp"> {{createdAt}}</p>

            {{>post-smart-bar}}
          </div>

        </div>
        <div class="col-12 homepage-post-text p-4">

          <p
            class="card-text text-white home-resource-description"
          >{{description}}.</p>

        </div>
      </div>

    </div>
  </div>

</div>