<div class="row post-detail-comment mt-5 p-3 mb-5 animate__animated animate__fadeInUp">
  <div class="col-12 ">
    <h2 class="header comment-header"> Comments</h2>
  </div>
  <div class="col-12">
    <div class="form-group">
      <textarea
        id="comment-textarea"
        class="form-control comment-textarea"
        rows="3"
        placeholder="Enter Comment"
      ></textarea>
    </div>
    <button id="test" type="button" class="btn comment-button"> Send </button>
  </div>
  <div class="col-12 comment-box">
    <div class="row p-2">
      {{#each comments as |this|}}
        <div  class="comment p-0">
          <div class="col-12 comment-head align-items-center m-2">
            <div class="d-flex align-items-center ">
              <i class="bi bi-person-circle" ></i>

            <h5 class="m-2"> Anonymous User </h5>
            </div>
            
            <p class="timestamp m-2"> {{this.createdAt}}</p>
            
          </div>
          <div class="col-12 comment-body p-3">
            <p > {{this.comment}}</p>
          </div>
        </div>
       
      {{/each}}

      {{#unless comments}}
      <h3 class="no-comment-text"> No comments yet</h3>
      {{/unless}}
    </div>
  </div>
</div>


