<div class="section mt-5 animate__animated animate__fadeIn">
  <div class="container login-div">
        <div class="col-12" id="liveAlertPlaceholder"></div>
    <div class="row login-signup">

      <div class="col-12 col-md-6 col-lg-6 login-box" id="login">
        <form class="">
          <div class="mb-3 login-form-marker">
            <h3 class="header2 mb-3"><i class="bi bi-person-circle " ></i> Login </h3>
            <label class="form-label login-form-marker">Email address</label>
            <input type="email" class="form-control custom-input" placeholder="Enter a valid email" id="email"
              aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label class="form-label login-form-marker">Password</label>
            <input
              type="password"
              placeholder="****************"
              class="form-control custom-input"
              id="password"
            />
          </div>
          <button type="submit" class="btn col-12 login-button">Login</button>
        </form>
      </div>
      <div class="col-12 col-md-6 col-lg-6" id="signUp">
        <div class="container login-form-marker ">
          <form class="signup-form">
            <div class="mb-3">
              <div class="d-flex">
                
              </div>
              <h3 class=" header2"><i class="bi bi-plus-circle "></i> Sign Up  </h3>

              {{! username }}
              <label for="username" class="form-label login-form-marker-signUp" required>Username</label>
              <input
                type="text"
                class="form-control custom-input"
                aria-describedby="inputGroup-sizing-sm"
                id="username"
                placeholder="Username"
              />
            </div>
            {{! email }}
            <div class="mb-3">
              <label for="userEmail" class="form-label login-form-marker-signUp" required>Email address</label>
              <input type="email" id="emailSignup" class="form-control custom-input" placeholder="Enter a valid email"
                aria-describedby="emailHelp">
            </div>
            {{! password }}
            <div class="mb-3">
              <label for="password" class="form-label login-form-marker-signUp" required>Password</label>
              <input type="password" id="passwordSignup" class="form-control custom-input" placeholder="************">
              <div id="emailHelp" class="form-text">Must be 8-20 characters long.</div>
            </div>
            <div class="d-flex">
              <button type="submit" class="btn col-12 login-button me-2">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/loginpage.js"></script>

  </div>
</div>