<div class="section mt-5">
     

    <div class="container-fluid">
        <div class="row">
            <div class="col-12  d-flex justify-content-between like-header">

                    <h3 class="header">  Like History </h3>
                <h3 class="header"> Total <span> {{likeCount}} </span> </h3>
                    </div>

                
            </div>
            <div class="col-12">
                {{#each likedPost as |post|}}
                {{> homepage-resources}}
                {{/each}}
            </div>
           
        </div>
        

        </script>
    </div>