

.post {
    background-color: #20242bfa;
    font-family: Nunito Sans, sans-serif;
        box-shadow: 0px 0px 100px rgb(0, 0, 0.2);

}

.post-detail-comment {
    border-radius: 20px;
    color: rgb(232, 226, 226);
    width: 100%;
}

.post{
    font-family: Nunito Sans, sans-serif;
    border-radius: 20px;
    padding: 20px;
    margin: 0px;
    color: rgb(232, 226, 226);
}

.limited-height{
    max-height: 250px;
    overflow: hidden;
}


.comment-textarea:focus{
    border: none;
    outline: none;
    background-color: #333233dc;
    color: rgb(136, 160, 130);
    box-shadow: 0px 0px 100px rgb(0, 0, 0.2);

}

.comment-body{
    background-color: rgba(45, 45, 46, 0.933);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.post-detail{
    background-color: #1c1c1f;
    width: 100%;
    margin: auto;
}
.post-detail-comment {
    background-color: #181819;
    width: 100%;
    margin: auto;
}

.post-detail, .comment, .comment-warning {
    border-radius: 20px;
    box-shadow: 0px 0px 100px rgb(0, 0, 0.2);
}

.post-detail {
    padding: 40px;
}

.post-image, .post-detail-image {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}


.post-detail-comment{

    padding: 40px;
}




.post-sub{
    color: #7e819d;
    font-size: 15px;
    font-family: Poppins, Courier, monospace;
    background-color: #2e3137b9;
    padding: 8px;
    border-radius: 10px;

}

.like-display{
    color: #c15454e8;
}

#like-button:hover{
    color: #a688bbf7;
    transition: .4s;
    cursor: pointer;
}

#bookmark-button:hover{
    color: #a688bbf7;
    transition: .4s;
}

#comment-button:hover{
    color: #a688bbf7;
    cursor: pointer;
    transition: .4s;
}



/* Button Styles */
.post-button{
    border-radius: 20px;
    background-color: rgba(1, 30, 45, 0.825);
    color: #ebe6e6;
    font-family: Poppins, Courier, monospace;
    padding: 10px;
}



.comment-head{
    margin-left: 10px; 
    color: #213221;  
}

.comment{
    background-color: #4e9b70f5;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 0px 0px 100px rgb(0, 0, 0.2);
    color: #9ec69e;
    
}
.comment-button{
    border-radius: 0;
    color: #101110;
    border-color: none;
    background-color: rgb(78, 155, 105);
    padding: 10px;
    font-family: Poppins, Courier, monospace;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.comment-body{
    padding: 0;
}

.comment-header{
    color: #59a279f5;
}
.comment-button:hover{
    color: #b8c4c0;
    background-color: #408064;
    transition: .4s;
}

.post-button:hover{
    background-color: #355270f4;
    color: #ebe5e5;
    transition: .4s;
}

/* Textarea Styles */
.comment-textarea {
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #333233dc;
    border: none;
    color: white;

}

.comment-textarea::placeholder {
    color: #91b39e;
}


.comment-textarea:focus {
    outline: none;
    background-color: #333233dc;
    color: rgb(136, 160, 130);
}

/* Header Styles */
.header {
    color: rgb(190, 155, 221);
    font-family: Poppins, sans-serif;
    padding-bottom: 20px;
    font-weight: 200;
}




.no-found-text{
    font-family: Poppins;
    color: #b44f4fc5;
    font-size: 40px;
    padding: 40px;
    font-weight: 200;
    border-width: 4px;
    border-color: #b44f4fc5;
    border-style: solid;
    border-radius: 30px;
    

}


/* Media Queries */
@media screen and (max-width: 600px) {
    .post-detail-image {
        max-width: 60px;
        max-height: 60%;
    }


    .more-detail-text {
        font-size: 3px;
    }

    .post-button {
        padding: 5px;
    }

    .post-description {
        padding-top: 20px;
        font-size: 12px;
    }

    .header {
        font-size: 20px;
    }

    .custom-input-search {
        font-size: 13px;
    }
    #comment-text-button{
        display: none;
    }
    
}

.liked{
    color: #4b4949e8;

}

@media screen and (max-width: 1200px) {
    .post-detail-image {
        width: 100px;
    }

    .post-description {
        margin-right: 30px;
    }
}

@media screen and (max-width: 800px) {
    .comment h5 {
        font-size: 15px;
    }

    .home-resource-title {
        font-size: 15px;
    }

    .timestamp {
        font-size: 10px;
    }

    .more-detail-text {
        font-size: 14px;
    }

    .one-resource-title {
        font-size: 15px;
    }

    .home-resource-description {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .text-need-space {
        margin-left: 20px;
    }

    .post:hover {
        cursor: pointer;
        box-shadow: 0px 2px 4px 6px rgba(51, 47, 59, 0.385);
        transition: 0.6s;
    
    }
}

@media screen and (min-width: 990px) and (max-width: 1400px) {
    .home-resource-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 990px) {
    .post-description {
        padding-top: 30px;
    }
}


















