
body {
    

    background-image: url('../image/background-grid.jpeg');
    color: #fff;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: cover;
  
}



header {
    background-color: rgb(61, 140, 96);
    padding: 50px;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 12px;
}

#login{
    padding: 40px;

}

#signUp{
    padding: 40px;
}

.login-signup {
    background-color: #989494f9;
    border-radius: 20px;
    
}

.login-box{
    background-color: #9d69bdf9;
    border-radius: 20px;
    

}



.login-div{
    margin-top: 100px;
}

.custom-input {
    background-color: #1e2328fd;
    border-color: #161d2a;
    border-radius: 10px;
    color: white;
    font-family: 'Nunito Sans';
}

.custom-input::placeholder {
    color: rgba(133, 133, 136, 0.964);
}

.custom-input:focus {
    color: rgb(213, 208, 208);
    background-color: #090d10fa;
    border-color: rgb(5, 5, 5);
    
}

.login-button{
    background-color: #070d17;
    color: rgb(199, 115, 187);
    border-radius: 10px;
    font-family: Poppins;
}

.login-button:hover{
    background-color: #000000;
    color: rgb(184, 77, 152);

    transition: .6s;
}

.header2{
    font-family: Poppins;
    font-weight: 300;
    color: #131113;
}

.login-form-marker{
    font-weight: 600;
    font-family: Raleway    ;
    font-size: 14px;
    color: #171717;
}
.login-form-marker-signUp{
    font-family: Raleway    ;
    color: #0f0c0c;

}


.spinner-border{
    margin-right: 10px;
}

.alert{
    color: rgb(15, 14, 14);
    border-radius: 20px;
    padding: 10px;
    font-family: Poppins;
    border-color: rgb(15, 14, 14);
}

.alert-success{
    background-color: rgba(14, 22, 20, 0.986);
    color: #30ad73ea;
    border-radius: 20px;
    border-color:#30ad73ea;
}

.alert-danger{
    background-color: rgba(28, 18, 18, 0.738);
    color: rgb(199, 60, 60);
    border-color:rgb(199, 60, 60);
}





.category-card{
    background-color: rgba(16, 73, 127, 0.797);
    padding: 10px;
}


.category-card-image, .category-card{
    border-radius: 20px;
}

.category-button{
    text-decoration: none;
    color: rgb(232, 228, 222);
    background-color: #000000;
    font-family: Poppins;
    padding: 8px;
    border-radius: 10px;
    padding: 5px;
    transition: .3s;
  
    
}

.category-name{
    background-color: #100d0df1;
    border-radius: 20px;
    color: rgb(219, 222, 230);
    font-family: Poppins;
    padding: 5px;
  
    
}
.category-button:hover{
    text-decoration: none;
    text-decoration-style: none;
    transform: scale(1.3);
    color: rgb(49, 105, 168);
   
}

.custom-input-search{
    background-color: #1e2328fd;
    border-color: #161d2a;
    border-radius: 10px;
    color: rgb(148, 147, 147);
    font-family: Poppins;

}



.search-button{
    background-color: rgba(34, 44, 54, 0.77);
    border-radius: 10px;
    color: #bd83d0da;
    font-family: Syne;
    font-weight: 300;
    width: 100%;
}

.search-button:hover{
    background-color: rgba(164, 111, 177, 0.942);
    color: rgb(12, 12, 12);
    transition: .6s;
}

.result-card-image{
    width: 180px;
    border-radius: 200px;
    padding: 20px;
}

.result-card-text{
    padding: 20px;
    font-family: Poppins;
    color: rgb(232, 226, 226);

}

.result-card{
    background-color: rgba(23, 36, 61, 0.75);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    color: rgb(232, 226, 226);
    font-family: Poppins;
}

.create-resource-button{
    background-color: rgba(29, 36, 45, 0.733);
    color: rgb(186, 152, 177);
    border-radius: 20px;
    padding: 8px;
    font-weight: 400;
    font-family: Poppins;
}

.create-resource-button:hover{
    background-color: rgba(208, 122, 208, 0.944);
    color: rgb(22, 22, 22);
    transition: .4s;
}

.post-detail{
    background-color: #1d2129ca;
    padding: 20px;
    border-radius: 30px;
}
.edit-button{
    color: rgba(188, 143, 188, 0.904);
    font-weight: 700;

}

.edit-button:hover{
    color: #ad99cf;
    transition: .4s;
}



.need-space-icon{
    margin-right: 10px;
    
}

#updateform {

    background-color: rgb(19, 21, 25);
    border-radius: 15px;
    box-shadow: 0 0 30px 0 rgba(18, 17, 17, 0.68);
    
}

.update-form-button{
    background-color: rgba(48, 49, 69, 0.924);
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-family: Poppins;

}

.no-found-text{
    font-family: Poppins;
    color: #b44f4fc5;
    font-size: 50px;
    padding: 90px;
    font-weight: 300;
    border-width: 4px;
    border-color: #b44f4fc5;
    border-style: solid;
    border-radius: 30px;

}

.no-found-text:hover{
    color: #d3a1ddc5;
    border-color: #a57ec1;
    transition: .7s;
    cursor: pointer;

}
.update-form-button:hover{
    background-color: rgba(7, 7, 7, 0.974);
    color: rgb(213, 210, 210);

}


.form-marker{
    font-weight: 600;
    font-family: Raleway    ;
    font-size: 15px;
    color: #9e8cac;
}




@media screen and (max-width: 600px) {
    #signUp {
        padding-top: 30px;
    }
    #loginBox{
        padding-top: 100px;
    }

    #navbrand{
        font-size: 30px;

    }

    .no-found-text{
        font-size: 20px;
        padding: 20px;
        border-width: 2px;
        border-radius: 10px;
    }

  

   

    
}

@media screen and (min-width:1200px) {
    .post-dashboard:hover{
        transform: scale(1.03);
        transition: .4s;
    }
    .no-found-text{
        font-size: 100px;
    }

    #signUp{
        padding: 70px;
        padding-left: 10px;
    }

    #login{
        padding: 70px;
        padding-left: 30px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .post-text-dashboard {
        font-size: 1px;
    }
}