#main-content {
    background-image: url('../image/background.webp');
    color: #fff;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#main {
    margin-top: 200px;
}

#logo {
    font-size: 200px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: rgba(213, 213, 217, 0.632);
}

#getStart{
    background-color: rgba(225, 217, 217, 0.889);
    color: rgba(0, 0, 0, 0.953);
    padding: 13px;
    border-radius: 30px;
    font-family: Poppins;
    transition: .06s;
}

#getStart:hover{
    transform: scale(1.1);
    background-color: rgb(192, 185, 185);
    transition: .6s;
    box-shadow: 0px 0px 10px 10px rgba(83, 81, 81, 0.552);
}



nav {
    background-color: rgba(0, 0, 0, 0)
}

#navbrand{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #bfb9b9c7;
    letter-spacing: 1px;
}


#navbrand:hover{
    color: #b657db;
    transition: .6s;
    transform: scale(1.1);
    
}


.toggler-icon{
    color: #a7a2a7;
    font-size: 30px;
    font-family: Poppins;
    letter-spacing: 1px;

}

.toggler-icon{
    color: #a7a2a7;


}
.nav-link {
    
    color: #d4d0d0;
    font-size: 23px;
    font-family: Poppins;
    letter-spacing: 1.5px;

}
.nav-link:hover {
    color:#b657db;
    transition: .6s;
}




@media screen and (max-width: 600px) {
    #main {
        margin-top: 140px;
    }
    #logo {
        font-size: 100px;
    }
    #getStart {
        padding: 10px;
    }
    
}



@media screen and ( min-width:1200px) {
    #logo{
        font-size: 230px
    }
}

@media screen and (min-width:2000px) {
    #logo{
        font-size: 500px
    }
}


@media screen and (max-width: 300px){
    #logo{
        font-size: 60px;
    }
    
}